@import url("{}/node_modules/bootstrap/scss/bootstrap.scss");
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
body {
  font-family: "Roboto"; }

#nav-menu {
  border-top: 10px solid #399eef; }
  #nav-menu span {
    font-size: 2.09rem;
    color: #399eef; }
  #nav-menu .navbar-nav a {
    font-size: .861rem; }
  #nav-menu .navbar-nav .active {
    color: #399eef; }

header {
  min-height: 380px;
  height: 380px;
  background-image: url("../images/hero-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  header h1 {
    font-size: 2.95rem;
    small: 1.47rem; }

#keypoints h2 {
  color: #399eef;
  font-size: 1.75rem; }

#keypoints h3 {
  color: #0075be;
  font-size: 1.23rem; }

#keypoints p {
  font-size: .8rem; }

#faces {
  background-color: #ededf0; }
  #faces h2 {
    color: #399eef;
    font-size: 1.75rem; }
  #faces .card .card-body {
    padding: .7rem; }
    #faces .card .card-body .card-title {
      font-size: 1.2rem;
      color: #399eef; }
    #faces .card .card-body .card-text {
      color: #444444;
      font-size: .8rem; }

#contact-area {
  background-color: #399eef;
  color: #fcf7f7; }
  #contact-area p, #contact-area h4, #contact-area a {
    font-size: 0.738rem; }
  #contact-area input, #contact-area button {
    border-radius: .4rem; }
  #contact-area input {
    background-color: #e6e6e6; }

footer {
  background-color: #444444;
  font-size: 0.738rem;
  color: #d0d0d0; }
