@import url("{}/node_modules/bootstrap/scss/bootstrap.scss")

// Variables
$wm-blue: #399eef
$wm-white-footer: #fcf7f7
$wm-gray-bg: #ededf0
$wm-gray-form: #e6e6e6
$wm-gray-footer: #d0d0d0
$wm-gray-footer-bg: #444444
$wm-dark-blue: #0075be

$main-font: 'Roboto'

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700)

//14pt = 0.861rem
//13pt = 0.8rem
//12pt = 0.738rem

//20pt = 1.23rem

//Main content
body
    font-family: $main-font


#nav-menu
    border-top: 10px solid $wm-blue
    span
        font-size: 2.09rem
        color: $wm-blue
    .navbar-nav
        a
            font-size: .861rem
        .active
            color: $wm-blue
            
header
    min-height: 380px
    height: 380px
    background-image: url('../images/hero-banner.jpg')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    h1
        font-size: 2.95rem
        small: 1.47rem
            
            
#keypoints
    h2
        color: $wm-blue
        font-size: 1.75rem
    h3
        color: $wm-dark-blue
        font-size: 1.23rem
    p
        font-size: .8rem
        
#faces
    background-color: $wm-gray-bg
    h2
        color: $wm-blue
        font-size: 1.75rem
    .card
        .card-body
            padding: .7rem
            .card-title
                font-size: 1.2rem
                color: $wm-blue
            .card-text
                color: $wm-gray-footer-bg
                font-size: .8rem
    
#contact-area
    background-color: $wm-blue
    color: $wm-white-footer
    p, h4, a
        font-size: 0.738rem
    input, button
        border-radius: .4rem
    input
        background-color: $wm-gray-form
    
    
footer
    background-color: $wm-gray-footer-bg
    font-size: 0.738rem
    color: $wm-gray-footer